.button {
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.5em;
  position: relative;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
  vertical-align: top;

  &:hover {
    border-color: #b5b5b5;
    color: #363636;
  }
  &:focus {
    border-color: #3273dc;
    color: #363636;
  }
  &:active {
    border-color: #4a4a4a;
    color: #363636;
  }  
  &.current {
    color: #fff;
    background-color: #3273dc;
  }
}
.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.button:not(:last-child) {
    margin-right: .5rem;
  }

  &.group .button{
    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-right: -1px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      z-index: 2;
    }
    &:focus,
    &:active {
      z-index: 3;

      &:hover {
        z-index: 4;
      }      
    }
  }
}
